body{
    background-color:black;
    font-family: sans-serif;
}

p{color: white;}

table{
    margin: 0 auto 0 70px;
}

.table_jacket{
    width: 600px;
}

td{
    padding: 30px;
    width: 400px;
}

.music_title{
    font-size: 60px;
    line-height: 1;
    margin: 10px 0 0 0;
}

.music_dadata{font-size: 30px;}

audio{
    width: 400px;
}
